<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ topic }}</title>
    <style>
        body{
        background: "Blue";
        }
    </style>
</head>
<body>
    <h2>Information about {{ topic }}:</h2>
    <ul>
        <li>{{ point1 }}</li>
        <li>{{ point2 }}</li>
        <li>{{ point3 }}</li>
    </ul>
</body>
</html>